S3method("$",OrthoFrame)
S3method("[[",OrthoFrame)
S3method("labels<-",OrthoFrame)
S3method(anchors,OrthoFrame)
S3method(labels,OrthoFrame)
S3method(plot,OrthoMatrix)
S3method(print,OrthoFrame)
export("labels<-")
export(aggregateAlignment)
export(alignSegments)
export(alignment2Genome)
export(anchors)
export(annotatedAlignment)
export(annotationList)
export(file_size)
export(findAnnotation)
export(fsa)
export(genome2Alignment)
export(genome2Genome)
export(glimmer3)
export(importAlignment)
export(importAnnotation)
export(install_genoslider_dependencies)
export(labels)
export(maskSequence)
export(mercator)
export(mergeOrthologyMatrix)
export(ncbi_bacteria)
export(orthologyMatrix)
export(sliceAlignment)
export(subl)
export(substituteCDSNumbers)
exportClasses(annotatedAlignment)
exportClasses(annotationList)
exportMethods("seqinfo<-")
exportMethods(aMap)
exportMethods(alignment)
exportMethods(annotation)
exportMethods(end)
exportMethods(gMap)
exportMethods(gaps)
exportMethods(geneID)
exportMethods(genome)
exportMethods(getAccession)
exportMethods(getDefinition)
exportMethods(locusTag)
exportMethods(mcols)
exportMethods(product)
exportMethods(proteinID)
exportMethods(ranges)
exportMethods(seqinfo)
exportMethods(seqlengths)
exportMethods(seqlevels)
exportMethods(seqnames)
exportMethods(start)
exportMethods(strand)
exportMethods(type)
import(Rcpp)
import(methods)
importClassesFrom(Biostrings,XStringSet)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GRangesList)
importClassesFrom(GenomicRanges,GenomicRanges)
importClassesFrom(GenomicRanges,GenomicRangesList)
importClassesFrom(GenomicRanges,GenomicRangesORGRangesList)
importClassesFrom(GenomicRanges,Seqinfo)
importClassesFrom(IRanges,Annotated)
importClassesFrom(IRanges,CompressedList)
importClassesFrom(IRanges,List)
importClassesFrom(IRanges,Vector)
importFrom(BiocGenerics,annotation)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverse)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,type)
importFrom(Biostrings,writeXStringSet)
importFrom(Biostrings,xscat)
importFrom(GenomicRanges,"mcols<-")
importFrom(GenomicRanges,"seqinfo<-")
importFrom(GenomicRanges,"seqlengths<-")
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,Seqinfo)
importFrom(GenomicRanges,genome)
importFrom(GenomicRanges,mcols)
importFrom(GenomicRanges,ranges)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(GenomicRanges,seqlevels)
importFrom(GenomicRanges,seqnames)
importFrom(GenomicRanges,strand)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,"metadata<-")
importFrom(IRanges,CharacterList)
importFrom(IRanges,IRanges)
importFrom(IRanges,IRangesList)
importFrom(IRanges,IntervalTree)
importFrom(IRanges,Map)
importFrom(IRanges,PartitioningByWidth)
importFrom(IRanges,Rle)
importFrom(IRanges,elementLengths)
importFrom(IRanges,elementMetadata)
importFrom(IRanges,end)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,gaps)
importFrom(IRanges,lapply)
importFrom(IRanges,levels)
importFrom(IRanges,mapply)
importFrom(IRanges,metadata)
importFrom(IRanges,order)
importFrom(IRanges,queryHits)
importFrom(IRanges,ranges)
importFrom(IRanges,relist)
importFrom(IRanges,runLength)
importFrom(IRanges,runValue)
importFrom(IRanges,split)
importFrom(IRanges,start)
importFrom(IRanges,subjectHits)
importFrom(IRanges,unlist)
importFrom(IRanges,which)
importFrom(IRanges,width)
importFrom(Matrix,Matrix)
importFrom(Matrix,summary)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getURL)
importFrom(XVector,compact)
importFrom(XVector,subseq)
importFrom(ape,bionj)
importFrom(ape,cbind.DNAbin)
importFrom(ape,clustal)
importFrom(ape,dist.dna)
importFrom(ape,fastme.bal)
importFrom(ape,muscle)
importFrom(ape,nj)
importFrom(ape,read.dna)
importFrom(ape,tcoffee)
importFrom(ape,write.tree)
importFrom(assertthat,"on_failure<-")
importFrom(assertthat,assert_that)
importFrom(assertthat,has_attr)
importFrom(assertthat,has_extension)
importFrom(assertthat,is.readable)
importFrom(assertthat,is.string)
importFrom(assertthat,see_if)
importFrom(biofiles,as.gbLocation)
importFrom(biofiles,gbRecord)
importFrom(biofiles,getAccession)
importFrom(biofiles,getDefinition)
importFrom(biofiles,index)
importFrom(biofiles,qualif)
importFrom(biofiles,ranges)
importFrom(biofiles,select)
importFrom(biofiles,start)
importFrom(genomeIntervals,getGffAttribute)
importFrom(genomeIntervals,readGff3)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(parallel,mcmapply)
importFrom(plyr,.)
importFrom(plyr,dlply)
importFrom(reutils,content)
importFrom(reutils,efetch)
importFrom(reutils,esearch)
importFrom(reutils,esummary)
importFrom(reutils,xvalue)
importFrom(stringr,str_count)
importFrom(stringr,str_extract)
importFrom(stringr,str_trim)
useDynLib(genoslideR)
