export("seqinfo<-")
export(aMap)
export(accession)
export(alignSegments)
export(alignment)
export(annotatedAlignment)
export(annotation)
export(definition)
export(end)
export(file_size)
export(fsa)
export(gMap)
export(gaps)
export(geneID)
export(genome)
export(glimmer3)
export(importAlignment)
export(install_genoslider_dependencies)
export(locusTag)
export(make_tree)
export(maskSequence)
export(mcols)
export(mercator)
export(ncbi_bacteria)
export(product)
export(proteinID)
export(ranges)
export(seqinfo)
export(seqlengths)
export(seqlevels)
export(seqnames)
export(sliceAnnotatedAlignment)
export(start)
export(strand)
exportClasses(annotatedAlignment)
exportClasses(annotationList)
import(Rcpp)
import(methods)
importClassesFrom(Biostrings,XStringSet)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GRangesList)
importClassesFrom(GenomicRanges,GenomicRanges)
importClassesFrom(GenomicRanges,GenomicRangesList)
importClassesFrom(GenomicRanges,GenomicRangesORGRangesList)
importClassesFrom(GenomicRanges,Seqinfo)
importClassesFrom(IRanges,Annotated)
importClassesFrom(IRanges,CompressedList)
importClassesFrom(IRanges,List)
importClassesFrom(IRanges,Vector)
importFrom(BiocGenerics,annotation)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,type)
importFrom(Biostrings,writeXStringSet)
importFrom(Biostrings,xscat)
importFrom(GenomicRanges,"seqinfo<-")
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,Seqinfo)
importFrom(GenomicRanges,genome)
importFrom(GenomicRanges,mcols)
importFrom(GenomicRanges,ranges)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(GenomicRanges,seqlevels)
importFrom(GenomicRanges,seqnames)
importFrom(GenomicRanges,strand)
importFrom(GenomicRanges,unlist)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,"metadata<-")
importFrom(IRanges,CharacterList)
importFrom(IRanges,IRanges)
importFrom(IRanges,IRangesList)
importFrom(IRanges,IntervalTree)
importFrom(IRanges,Map)
importFrom(IRanges,Rle)
importFrom(IRanges,as.list)
importFrom(IRanges,compact)
importFrom(IRanges,elementLengths)
importFrom(IRanges,elementMetadata)
importFrom(IRanges,end)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,gaps)
importFrom(IRanges,lapply)
importFrom(IRanges,metadata)
importFrom(IRanges,order)
importFrom(IRanges,runValue)
importFrom(IRanges,start)
importFrom(IRanges,subjectHits)
importFrom(IRanges,which)
importFrom(IRanges,width)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getURL)
importFrom(ape,bionj)
importFrom(ape,cbind.DNAbin)
importFrom(ape,clustal)
importFrom(ape,dist.dna)
importFrom(ape,fastme.bal)
importFrom(ape,muscle)
importFrom(ape,nj)
importFrom(ape,read.dna)
importFrom(ape,tcoffee)
importFrom(ape,write.tree)
importFrom(biofiles,accession)
importFrom(biofiles,as.gbLocation)
importFrom(biofiles,definition)
importFrom(biofiles,qualif)
importFrom(genomeIntervals,getGffAttribute)
importFrom(genomeIntervals,readGff3)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(rentrez,content)
importFrom(rentrez,docsum)
importFrom(rentrez,efetch)
importFrom(rentrez,esearch)
importFrom(rentrez,esummary)
importFrom(rmisc,"%.%")
importFrom(rmisc,"%||%")
importFrom(rmisc,SysCall)
importFrom(rmisc,all_empty)
importFrom(rmisc,compact)
importFrom(rmisc,compactNA)
importFrom(rmisc,hasCommand)
importFrom(rmisc,merge_list)
importFrom(rmisc,not.null)
importFrom(rmisc,not_empty)
importFrom(rmisc,replace_ext)
importFrom(rmisc,strip_ext)
importFrom(rmisc,strsplitN)
importFrom(rmisc,trim)
importFrom(rmisc,xvalue)
