export(aggregateAlignment)
export(alignSegments)
export(alignment2Genome)
export(annotatedAlignment)
export(annotationList)
export(file_size)
export(findAnnotation)
export(fsa)
export(genome2Alignment)
export(genome2Genome)
export(glimmer3)
export(importAlignment)
export(importAnnotation)
export(install_genoslider_dependencies)
export(maskSequence)
export(mercator)
export(ncbi_bacteria)
export(sliceAlignment)
exportClasses(annotatedAlignment)
exportClasses(annotationList)
exportMethods("seqinfo<-")
exportMethods(aMap)
exportMethods(accession)
exportMethods(alignment)
exportMethods(annotation)
exportMethods(definition)
exportMethods(end)
exportMethods(gMap)
exportMethods(gaps)
exportMethods(geneID)
exportMethods(genome)
exportMethods(locusTag)
exportMethods(mcols)
exportMethods(product)
exportMethods(proteinID)
exportMethods(ranges)
exportMethods(seqinfo)
exportMethods(seqlengths)
exportMethods(seqlevels)
exportMethods(seqnames)
exportMethods(start)
exportMethods(strand)
exportMethods(type)
useDynLib(genoslideR)
import(Rcpp)
import(methods)
importClassesFrom(Biostrings,XStringSet)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GRangesList)
importClassesFrom(GenomicRanges,GenomicRanges)
importClassesFrom(GenomicRanges,GenomicRangesList)
importClassesFrom(GenomicRanges,GenomicRangesORGRangesList)
importClassesFrom(GenomicRanges,Seqinfo)
importClassesFrom(IRanges,Annotated)
importClassesFrom(IRanges,CompressedList)
importClassesFrom(IRanges,List)
importClassesFrom(IRanges,Vector)
importFrom(BiocGenerics,annotation)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverse)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,subseq)
importFrom(Biostrings,type)
importFrom(Biostrings,writeXStringSet)
importFrom(Biostrings,xscat)
importFrom(GenomicRanges,"mcols<-")
importFrom(GenomicRanges,"seqinfo<-")
importFrom(GenomicRanges,"seqlengths<-")
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,Seqinfo)
importFrom(GenomicRanges,genome)
importFrom(GenomicRanges,mcols)
importFrom(GenomicRanges,ranges)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(GenomicRanges,seqlevels)
importFrom(GenomicRanges,seqnames)
importFrom(GenomicRanges,strand)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,"metadata<-")
importFrom(IRanges,CharacterList)
importFrom(IRanges,IRanges)
importFrom(IRanges,IRangesList)
importFrom(IRanges,IntervalTree)
importFrom(IRanges,Map)
importFrom(IRanges,PartitioningByWidth)
importFrom(IRanges,Rle)
importFrom(IRanges,compact)
importFrom(IRanges,elementLengths)
importFrom(IRanges,elementMetadata)
importFrom(IRanges,end)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,gaps)
importFrom(IRanges,lapply)
importFrom(IRanges,levels)
importFrom(IRanges,mapply)
importFrom(IRanges,metadata)
importFrom(IRanges,order)
importFrom(IRanges,queryHits)
importFrom(IRanges,ranges)
importFrom(IRanges,relist)
importFrom(IRanges,runLength)
importFrom(IRanges,runValue)
importFrom(IRanges,split)
importFrom(IRanges,start)
importFrom(IRanges,subjectHits)
importFrom(IRanges,subseq)
importFrom(IRanges,unlist)
importFrom(IRanges,which)
importFrom(IRanges,width)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getURL)
importFrom(ape,bionj)
importFrom(ape,cbind.DNAbin)
importFrom(ape,clustal)
importFrom(ape,dist.dna)
importFrom(ape,fastme.bal)
importFrom(ape,muscle)
importFrom(ape,nj)
importFrom(ape,read.dna)
importFrom(ape,tcoffee)
importFrom(ape,write.tree)
importFrom(biofiles,accession)
importFrom(biofiles,as.gbLocation)
importFrom(biofiles,definition)
importFrom(biofiles,gbRecord)
importFrom(biofiles,qualif)
importFrom(biofiles,ranges)
importFrom(genomeIntervals,getGffAttribute)
importFrom(genomeIntervals,readGff3)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(parallel,mcmapply)
importFrom(rentrez,content)
importFrom(rentrez,docsum)
importFrom(rentrez,efetch)
importFrom(rentrez,esearch)
importFrom(rentrez,esummary)
importFrom(rmisc,"%.%")
importFrom(rmisc,"%|null|%")
importFrom(rmisc,"%||%")
importFrom(rmisc,SysCall)
importFrom(rmisc,all_empty)
importFrom(rmisc,compact)
importFrom(rmisc,compactNA)
importFrom(rmisc,hasCommand)
importFrom(rmisc,merge_list)
importFrom(rmisc,not.null)
importFrom(rmisc,not_empty)
importFrom(rmisc,replace_ext)
importFrom(rmisc,strip_ext)
importFrom(rmisc,strsplitN)
importFrom(rmisc,trim)
importFrom(rmisc,xvalue)
